.home__features_row{overflow:hidden;}@media(max-width:600px){.hero-banner-fixel-bg video{left:-225px !important;}}
.headset__icon{margin-top:20px !important;margin-bottom:-13px;cursor:pointer;}.pricing-tables .price .type{padding-left:13px;line-height:17px;text-align:left;font-size:13px;}.pricing-tables .price .currency{padding-right:6px;}
